.profil{
    overflow: hidden;
    font-size: $para-size;
    padding: $margin 0;
    background-color: $color3;
    div{
        h1{
            margin: 0 $marginBetweenH $marginleftHe ;
            ;
            color: $color1;
        }
        div{
            overflow: hidden;
            float: $float-right;
            width: $width-G;
            color: $color2;
            ul{
                li{
                    margin:  0 7.5%;
                    
                }
            }
            h3{
                color: $color1;
                margin: 10px 2%;
            }
        }
        img{
            float: $float-left;
            margin-top: 20px;
            width: 14%;
            margin-left: $marginleftHe;
        }
    }
    clear: both;
}

@media  screen and (max-width : 465px){
    *{
        font-size: $para-size1;
    }
    .h1{
        font-size: $head1;
    }
    .h2{
        font-size: $head2;
    }
    .h3{
        font-size: $head3;
    }
    .profil div img, .profil div div{
        float: none;
    }
    .profil div img{
        width: 40%;
        margin: 20px 30%;
    }
    .profil div div{
        width: 90%;
        margin: auto;
    }
}

@media  screen and (max-width : 264px){
    .profil div h1{
        text-align: center;
        margin: auto;
    }
}