$colorHeader : white;
$para-size : 20px;
// *************** WIDTH ****************
$width-G: 70%;
$width-P: 30%;

// ************** MARGIN **************

$margin : 80px;
$marginleftHe : 5%;
$marginBetweenH : 35px;

// *************** FLOAT **************

$float-right :right ;
$float-left : left ;

// *************** IMAGE ***************

$pathImg : "../../img/";
$backImg : "pro.jpg";
$profImg : "os.jpg";

// *************** COLOR ****************
$color6 : #c5c6c7;
$color7 : #1f2833f3;
$color1 : #0b0c10;
$color2 : #1F2833;
$color3 : #c5c6c7af;
$color4 : #66FCF1;
$color5 : #45A29E; 

// ************* span color ***************
$colorspan : #0b0c1069;

// ************* Font -size ***************
$input-size1 : 12px;
$para-size1 : 15px;
$head3: 17px;
$head2: 21px;
$head1: 24px;

